@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

 :root {
   --color-primary: #3374be;
   --color-secondary: #58a91d;
   --color-dark: #3f474f;
   --text-color: #242527;
   --links-color: #e8eae9;
   --background-color: #f1f3f2;
   --grey: #bbc1bf;
   --main-font: 'Poppins', sans-serif;
 }
 
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: var(--main-font);
   color: var(--color-dark);
   background-color: var(--background-color);
 }

 a {
  text-decoration: none;
  color: var(--color-dark);
}


ul {
  list-style: none;
  padding: 0 10px;
}

.card {
  background-color: white;
  padding: 5px;
  box-shadow: 1px 1px 5px 0 var(--grey);
}

.cat-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cat-info h3 {
  font-size: 1.3rem;
}

.cat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.cat-container p {
  font-size: 0.75rem;
}


.p-10 {
  padding: 12px;
}

.btn {
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  width: 100%;
  border: 1px solid transparent;
}

 
 
 
 
.content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  padding: 0 10px;
}

.flex-row {
  display: flex;
  gap: 10px;
}

img {
  width: 50px;
  height: 50px;
}

.expense {
  margin-top: 10px;
}




.btn-danger {
  margin-top: 3px;
}

.flash {
  margin: 10px 0;
  padding: 10px;
  font-size: 0.8rem;
}

.flash-success {
  border: 1px solid green;
  background: #90ee90;
}

.flash-error {
  border: 1px solid red;
  background-color: #ffc6c4;
}

.success {
  color: green;
}

.error {
  color: red;
}

.header {
  padding: 10px;
  background-color: var(--color-primary);
  color: white;
  display: flex;
  align-items: center;
}

.header h1 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  margin-bottom: 0;
}

.back {
  width: 13px;
  height: 15px;
}

.home-page {
  display: flex;
  flex-direction: column;
}

.welcome-msg {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-msg h1 {
  font-size: 2rem;
}

.welcome-msg h2 {
  font-size: 1.8rem;
}

.home-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.home-signin,
.home-signin:hover {
  background-color: var(--color-primary);
  color: white;
}

.home-signup {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.form {
  color: var(--color-dark);
  margin: 5px;
}

.form-field {
  background-color: white;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--background-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 5px 0;
}

.form-field::placeholder {
  color: var(--grey);
  letter-spacing: 0.6px;
}

.checkbox {
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-links {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.form-links a {
  color: var(--color-dark);
}

.btn-action,
.btn-action:hover {
  background-color: var(--color-secondary);
  padding: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.green-btn,
.green-btn:hover {
  border-radius: 10px;
  border: 1px solid white;
  color: white;
}

.checkbox-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 15px;
}